RewriteEngine On

RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]

RewriteRule ^ %1 [L,NE,R=302]

RewriteRule ^((?!public/).*)$ public/$1 [L,NC]

RewriteCond %{HTTP_REFERER} !^https://theproject.test/.*$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]
